@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Noto+Sans+TC:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

$primary: #F1D229;
$secondary: #B78D23;
$white: #fff;
$dark: #12121C;
$gray-E1: #E1E1E1;
$dark-2A: #2A2A2A;
$font-lalezar: "Lalezar", serif;
$font-workSans: "Work Sans", serif;
$transition: 0.3s;

body {
    font-family: "Noto Sans TC", serif;
    color: #000;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
    transition: $transition;
    &:hover {
        text-decoration: none;
    }
}

input, button {
    background-color: transparent;
    border: 0;
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.main {
    padding-top: 115px;
    @media screen and (max-width: 991px) {
        padding-top: 70px;
    }
    @media screen and (max-width: 767px) {
        padding-top: 50px;
    }
}

.container {
    max-width: 1500px;
    padding-left: 40px;
    padding-right: 40px;
    @media screen and (max-width: 1199px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.header {
    background-color: $dark;
    padding: 11px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    &_logo {
        width: 96px;
        display: block;
        >img {
            width: 100%;
        }
    }
    &_nav {
        li {
            margin-left: 38px;
            &:first-child {
                margin-left: 0;
            }
            a {
                color: $white;
                font-size: 20px;
                font-weight: 500;
                box-shadow: 0 2px 2px rgba(0,0,0,0.25);
                transition: $transition;
                display: block;
                position: relative;
                &:hover {
                    color: $primary;
                }
                &.active {
                    color: $primary;
                    &::after {
                        opacity: 1;
                    }
                }
                &::after {
                    position: absolute;
                    content: "";
                    width: 1px;
                    height: 34px;
                    background-color: $primary;
                    top: calc(100% + 8px);
                    left: 50%;
                    opacity: 0;
                }
            }
        }
    }
    &_menu {
        width: 20px;
        >img {
            width: 100%;
        }
    }
    @media screen and (max-width: 991px) {
        height: 70px;
        >.container {
            height: 100%;
        }
        &_logo {
            width: 42px;
        }
        &_nav {
            position: fixed;
            width: 100%;
            height: calc(100vh - 50px);
            top: 50px;
            // right: 0;
            left: 100%;
            background-color: #000;
            padding: 60px 20px;
            transition: $transition;
            li {
                margin: 30px 0;
                a {
                    display: block;
                    width: fit-content;
                    margin: 0 auto;
                    z-index: 0;
                    font-size: 16px;
                    &.active {
                        color: #fff;
                    }
                    &::after {
                        width: calc(100% + 10px);
                        height: 11px;
                        background-color: $secondary;
                        top: calc(100% - 10px);
                        transform: translateX(-50%) skewX(-30deg);
                        z-index: -1;
                    }
                }
            }
            &.active {
                left: 0;
            }
        }
    }
    @media screen and (max-width: 767px) {
        height: 50px;
    }

}

.footer {
    &_main {
        background-image: url(../img/footer-bg.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 35px 0 32px;
        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    &_intro {
        color: #DEDEDE;
        width: 57%;
        p {
            line-height: 1.9;
            margin: 0;
        }
    }
    &_logo {
        width: 155px;
        margin-right: 45px;
    }
    &_ig {
        margin-bottom: 15px;
        img {
            width: 22px;
            margin-right: 8px;
        }
        span {
            color: $primary;
            font-size: 16px;
            font-weight: 500;
            text-decoration: underline;
        }
    }
    &_link {
        width: 20%;
        ul {
            &:first-child {
                margin-right: 45px;
            }
            li {
                margin-bottom: 25px;
                &:last-child {
                    margin-bottom: 0;
                }
                a {
                    font-size: 16px;
                    font-weight: 500;
                    &:hover {
                        color: $primary;
                    }
                }
            }
        }
    }
    &_copyright {
        text-align: center;
        padding: 20px;
        background-color: #fff;
        font-size: 16px;
        color: #A9A9A9;
        margin: 0;
    }
    &_contact {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        h3 {
            color: #fff;
            font-size: 20px;
            font-weight: 500;
            font-family: $font-workSans;
            margin-bottom: 12px;
        }
        &_form {
            width: 100%;
            height: 50px;
            border-radius: 100px;
            background-color: rgba(255, 255, 255, 0.26);
            display: flex;
            align-items: center;
            input {
                width: calc(100% - 50px);
                height: 100%;
                padding: 0 16px;
                color: #fff;
                &::placeholder {
                    color: $gray-E1;
                }
            }
            button {
                width: 50px;
                height: 100%;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: 20px;
                }
            }
        }
    }
    @media screen and (max-width: 1199px) {
        &_main {
            .container {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
        &_link {
            ul {
                &:first-child {
                    margin-right: 25px;
                }
            }
        }
    }
    @media screen and (max-width: 991px) {
        &_main {
            background-image: none;
            background-color: $dark;
            padding: 8px 0 28px;
            .container {
                display: block;
            }
        }
        &_intro {
            width: 100%;
            margin-bottom: 26px;
            p {
                max-width: 500px;
                margin: 0 auto;
            }
        }
        &_logo {
            display: block;
            width: 130px;
            margin: 0 auto;
        }
        &_ig {
            width: fit-content;
            margin: 0 auto 8px;
        }
    }
    @media screen and (max-width: 575px) {
        &_copyright {
            padding: 10px 30px;
            font-size: 12px;
        }
    }
}

.banner {
    position: relative;
    width: 100%;
    padding-bottom: 18.33%;
    &_bg {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
    }
    &_text {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        &_en {
            font-family: $font-lalezar;
            font-size: 150px;
            background: linear-gradient(to right, #B78D23 0%, rgba(255, 236, 187, 0.16) 100%);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            line-height: 1;
            margin: 0;
            width: fit-content;
        }
        &_ch {
            font-size: 30px;
            font-weight: 500;
            margin-bottom: 0;
            margin-top: -25px;
            letter-spacing: 0.26em;
            color: $white;
        }
    }
    @media screen and (max-width: 1399px) {
        &_text {
            &_en {
                font-size: 100px;
            }
            &_ch {
                font-size: 24px;
            }
        }
    }
    @media screen and (max-width: 991px) {
        padding: 50px 0;
        z-index: 0;
        &_bg {
            z-index: -1;
        }
        &_text {
            position: static;
            transform: none;
            &_en {
                margin: 0 auto;
            }
            &_ch {
                text-align: center;
            }
        }
    }
    @media screen and (max-width: 767px) {
        &_text {
            &_en {
                font-size: 80px;
            }
            &_ch {
                margin-top: -15px;
            }
        }
    }
    @media screen and (max-width: 575px) {
        padding: 25px 0;
        &_text {
            &_en {
                font-size: 30px;
            }
            &_ch {
                font-size: 14px;
                margin: 0;
            }
        }
    }
}

.breadcrumb {
    margin-bottom: 40px;
    padding-top: 10px;
    li {
        position: relative;
        padding-right: 15px;
        &::after {
            position: absolute;
            content: "/";
            color: $dark-2A;
            text-align: center;
            width: 15px;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            font-size: 16px;
        }
        &:last-child {
            padding-right: 0;
            &::after {
                display: none;
            }
        }
    }
    a {
        color: $dark-2A;
        font-size: 16px;
        &.active {
            color: $secondary;
            font-weight: 700;
        }
        &:not(.active) {
            &:hover {
                color: $secondary;
            }
        }
    }
    @media screen and (max-width: 575px) {
        margin-bottom: 13px;
        padding-top: 5px;
        li {
            &::after {
                font-size: 12px;
                color: #797979;
            }
        }
        a {
            font-size: 12px;
            color: #797979;
        }
    }
}

.innerpage {
    background-image: url(../img/page-bg.svg);
    background-size: 49%;
    background-position: 0 0;
    background-repeat: no-repeat;
    @media screen and (max-width: 991px) {
        background-image: none;
    }
}

.btn {
    &-bg-black {
        width: 126px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #000;
        color: #fff;
        font-weight: 500;
        transition: $transition;
        &:hover {
            background-color: $primary;
            color: $dark;
        }
    }
    &-bg-brown {
        width: 126px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $secondary;
        color: #fff;
        font-weight: 500;
        transition: $transition;
        &:hover {
            background-color: $primary;
            color: $dark;
        }
    }
}

.form-common {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 120px;
    padding-left: 20px;
    padding-right: 20px;
    &_item {
        margin-bottom: 40px;
    }
    &_title {
        margin-bottom: 13px;
        position: relative;
        z-index: 0;
        h3 {
            width: fit-content;
            margin: 0 auto;
            font-size: 18px;
            font-weight: 700;
            color: $secondary;
            letter-spacing: 0.06em;
            padding: 0 12px;
            background-color: #fff;
            line-height: 1;
        }
        &::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 1px;
            background-color: $secondary;
            top: 50%;
            left: 0;
            z-index: -1;
        }
    }
    &_input {
        margin-bottom: 18px;
        >label {
            font-size: 16px;
            font-weight: 700;
            color: $dark;
            margin-bottom: 10px;
        }
        .input {
            width: 100%;
            height: 50px;
            background-color: #fff;
            border-radius: 6px;
            border: 1px solid #CDCDCD;
            padding: 0 15px;
            color: $dark;
            &::placeholder {
                color: #ACACAC;
            }
        }
        .radio {
            width: 19px;
            height: 19px;
            margin-right: 7px;
            position: relative;
            &::before {
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                border-radius: 50%;
                border: 1px solid #ACACAC;
                top: 0;
                left: 0;
            }
            &::after {
                position: absolute;
                content: "";
                width: calc(100% - 8px);
                height: calc(100% - 8px);
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: $secondary;
                border-radius: 50%;
                opacity: 0;
            }
            &:checked {
                &::after {
                    opacity: 1;
                }
            }
        }
        &_radio {
            label {
                font-size: 16px;
                font-weight: 500;
                color: $dark;
            }
        }
    }
    &_btn {
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        button {
            margin: 0 15px;
        }
    }
    &_radios {
        margin-bottom: 14px;
        .form-common_radio {
            margin-right: 20px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    @media screen and (max-width: 767px) {
        &_radios {
            margin-bottom: 0;
            .form-common_radio {
                margin-right: 30px;
                margin-bottom: 10px;
            }
        }
    }
    @media screen and (max-width: 575px) {
        padding-bottom: 60px;
        &_title {
            h3 {
                font-size: 16px;
            }
        }
        &_btn {
            margin-top: 0;
        }
    }
}



