.highlight {
    padding-bottom: 120px;
    &_content {
        max-width: 1240px;
        width: 100%;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
    }
    &_swiper {
        &-big {
            margin-bottom: 20px;
            &_item {
                position: relative;
                width: 100%;
                padding-bottom: 58.5%;
                >img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    top: 0;
                    left: 0;
                }
            }
        }
        &-small {
            &-wrap {
                position: relative;
            }
            &_arrow {
                width: 49px;
                height: 49px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: $transition;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                background-color: #000;
                svg {
                    width: 22px;
                    height: 16px;
                    path {
                        transition: $transition;
                    }
                }
                &:hover {
                    background-color: $primary;
                    svg {
                        path {
                            fill: #000;
                        }
                    }
                }
                &-left {
                    left: -64px;
                }
                &-right {
                    right: -64px;
                }
            }
            &_item {
                position: relative;
                width: 100%;
                padding-bottom: 80%;
                >img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    top: 0;
                    left: 0;
                }
            }
            .swiper-slide {
                opacity: 0.5;
                cursor: pointer;
                transition: $transition;
                &-thumb-active {
                    opacity: 1;
                }
                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
    @media screen and (max-width: 1399px) {
        &_swiper {
            &-small {
                &-wrap {
                    padding-left: 64px;
                    padding-right: 64px;
                }
                &_arrow {
                    &-left {
                        left: 0;
                    }
                    &-right {
                        right: 0;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 767px) {
        padding-bottom: 60px;
        &_swiper {
            &-small {
                &-wrap {
                    padding-left: 38px;
                    padding-right: 38px;
                }
                &_arrow {
                    width: 30px;
                    height: 30px;
                    svg {
                        width: 19px;
                        height: 14px;
                    }
                }
            }
        }
    }
}