@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Noto+Sans+TC:wght@100..900&display=swap');

$primary: #F1D229;
$secondary: #B78D23;
$white: #fff;
$font-lalezar: "Lalezar", serif;

body {
    font-family: "Noto Sans TC", serif;
    color: #000;
}